/* Responsive ver. */
@media(orientation: portrait) {
  html, body {
    width: 100vw;
    height: fit-content;
    font-size: 15px;
  }

  /* Title */
  header {
    position: fixed;
    top: 3vh;
    width: 100vw;
  }

  header h1 {
    position: unset;
    text-align: center;
  }

  header h1 strong {
    font-size: 22px;
  }

  /* Navigation */
  header nav {
    position: unset;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
  }

  header nav a {
    width: 25vw;
  }

  /* Footer */
  footer {
    bottom: 20px;
  }

  /* Figure */
  figure {
    height: 100vh;
  }

  /* Section */
  /* Group of music player panel frame */
  figure section {
    width: 80vw;
    height: 50%;
    top: 148%;
    margin-left: -40vw;
  }

  /* Group of panels' contents */
  figure section article .inner {
    width: 100%;
    height: 100%;
    transform: scale(0.5);
    background: var(--back-color);
    /* mix-blend-mode: normal; */
    box-shadow: unset;
    border-radius: 50px;
  }

  /* Active article */
  figure section article.on .inner {
    transform: translateY(0vh);
  }

  figure section article .inner .line-inner {
    opacity: 0;
  }

  /* Audio and Text */
  figure section article .inner .txt p {
    /* font-size: var(--regular-font); */
    margin: 1vh 0 4vh;
  }

  /* Frame of cover image */
  /* 배경 이미지만 가상 자식 요소에 전달하는 용도 */
  figure section article .inner .pic {
    width: 40vw;
    height: 40vw;
  }

  /* 음반 커버 이미지의 그림자로 만들어 줄 것이므로 살짝 아래쪽 배치 */
  figure section article .inner .pic::before {
    transform: translateY(5%);
  }

  /* Animation about music disk */
  @keyframes shadowRotateMobile {
    0% {
      transform: translateY(5%) rotate(0deg);
    }

    100% {
      transform: translateY(5%) rotate(360deg);
    }
  }

  figure section article .inner .pic.on::before {
    animation: shadowRotateMobile 4s linear infinite;
  }

  /* Disk */
  figure section article .inner .pic .dot {
    width: 10vw;
    height: 10vw;
  }

  /* Audio and Text */
  figure section article .inner .txt {
    width: 80%;
    margin-top: 1vh;
  }

  /* BTN panel control */
  /* BTN prev */
  .btnPrev,
  .btnNext {
    top: unset;
    bottom: 20px;
    width: 30px;
  }

  .btnPrev {
    left: 50%;
    transform: translate(-20vw, -50%);
  }

  .btnNext {
    right: 50%;
    transform: translate(20vw, -50%);
  }

  .btnPrev span,
  .btnNext span {
    /* font-size: 12px; */
  }

  .btnNext span {
    transform: translate(-50%);
  }

  .btnPrev::before,
  .btnNext::before,
  .btnPrev::after,
  .btnNext::after {
    /* display: none; */
  }
}

/* Tablet ver. */
@media(min-width : 768px) and (max-width : 1024px) and (orientation: portrait) {
  /* Section */
  /* Group of music player panel frame */
  figure section {
    width: 60vw;
    height: 50%;
    top: 148%;
    margin-left: -30vw;
  }

  /* Frame of cover image */
  /* 배경 이미지만 가상 자식 요소에 전달하는 용도 */
  figure section article .inner .pic {
    width: 35vw;
    height: 35vw;
  }

  /* Disk */
  figure section article .inner .pic .dot {
    width: 8vw;
    height: 8vw;
  }

}

@media (max-width : 1023px) and (orientation: landscape) {
  .warning {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: #000;
    z-index: 300;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
  }
}
